// Colors
$color-primary : #E64C53;
$color-sec : #707070;
$bg-color : #ffffff;
$break-color : #cdcdcd;
$dark-font-color : #333333;
$light-font-color : #f5f5f5;
$white : #ffffff;

// Screen size 
$xs : 0;
$sm : 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;