// logo
.logo {
    width: 150px;
    padding-left: 17px;
    img {
      width: 100%;
    }
  }

  ::selection{
    background-color: $color-primary;
    color: $white;
}

.article-flow::-webkit-scrollbar{
  width: 8px;
}
.article-flow::-webkit-scrollbar-track{
  background-color: $light-font-color;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.article-flow::-webkit-scrollbar-thumb{
  background-color: $break-color;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;

  &:hover{
    background-color: $color-sec;
  }
}