.communication {

  .article {

    .article-flow{
      height: 400px;
      overflow-y: scroll;

      .article-item {
        margin-bottom: 1.5rem;
        padding: 0 15px 0 15px;

        @media (max-width : $md){
          display: block !important;
        }

        .article-content {

          .article-img {
            text-align: center;
            img {
              width: 100%;
              height: auto;
              max-height: 350px;
              max-width: 350px;
            }
          }
          .article-details{

            .atricle-text{
              margin-left: 0;
              text-align: justify;
              font-size: 12px;
              max-height: 35px;
              overflow: hidden;
            }
            
            .article-meta{
              display: inline-block;
              align-items: baseline;
              color: $color-sec;
              margin-top: 0.3rem;
              margin-bottom: 0.5rem;

              span{
                display: inline-block;
                margin-right: 5px;
              }
            }
          }
        }
      }
    }
  }
}